@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@font-face {
    font-family: 'Daniel';
    src: url('../fonts/daniel.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body h1, h2, h3, h4, span {
    font-family:'Poppins', sans-serif;
}

body p {
    color: #1b1b1b;
}

.nav-container-ptfl {
    display: flex;
    align-items: center;
    height: 250px;
    background-image: radial-gradient(farthest-corner at 10px 10px, rgb(231, 243, 247), rgb(139, 206, 228));
    
}
.profile-ptfl {
    display: flex;
    padding: 20px;
    margin-left: 50px;
}

.logo-ptfl {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-ptfl .title {
    margin: auto 20px auto;
    text-transform: uppercase;
}

.profile-ptfl h1 {
    font-family: 'Nasalization';
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    line-height: 1.1em;
}

.profile-ptfl p {
    margin: 0;
    margin-left: 10px;
}

.navigation-ptfl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-ptfl a {
    text-decoration: none;
    color: #1b1b1b;
    margin-right: 20px;
}

.home-icon-container {
    display: flex;
    align-items: center;
}

.home-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 2px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.heading-ptfl {
    text-align: center;
}

.heading-ptfl h2 {
    color: #333;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

section.project-cards {
    background-color: transparent;
    box-shadow: none;
    margin: 0 auto 20px;
    max-width: 1000px;
    margin: 30px auto 50px;
}

.project-cards h2 {
    text-align: center;
    margin: 20px auto 50px;
}

.project-cards a {
    text-decoration: none;
}

.p-cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
}

.p-card {
    max-width: 220px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.p-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.p-card h3 {
    color: #1b1b1b;
    text-align: center;
    margin: -20px auto 10px;
    line-height: 1.1em;
    padding: 0 5px;
}

.p-card p {
    font-family: 'Open Sans';
    margin-top: 0;
    padding: 0 10px;
    text-align: center;
}

.p-card div.p-card-img {
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.p-card p span {
    background-color: #ebebeb;
    color: #202020;
    border-radius: 5px;
    padding: 0 5px;
}

.p-card:nth-child(1) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/fyp_poster.png');
}

.p-card:nth-child(2) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/gcvm.jpg');
}

.p-card:nth-child(3) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/artha-web.jpg');
}

.p-card:nth-child(4) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/vega_pcb.jpg');
}

/* Project cards */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Default to column for mobile screens */
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card-template {
    display: none;
}

.project-image {
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.project-image p {
    text-align: center;
    color: #f4f4f4;
    opacity: 0.3;
}

.project-content {
    padding: 15px;
}

.project-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.project-content .label {
    text-transform: uppercase;
    background-color: aquamarine;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-keywords, .project-description, .project-tech-stack, .project-date, .project-link {
    margin: 10px 0;
    color: #666;
}

.project-tech-stack, .project-date {
    font-weight: 500;
}

.project-link {
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 768px) {
    .project-card {
        flex-direction: row; /* Change to row for larger screens */
        align-items: center;
    }
    .project-image {
        flex: 1;
    }
    .project-image img {
        width: 100%; /* Ensure image takes full height of its container */
        height: auto;
    }
    .project-content {
        flex: 2;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        max-width: 90%;
    }
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-image {
    margin-bottom: 20px;
}

.modal-details {
    text-align: left;
    width: 100%;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #dadada;
    color: #c4c4c4;
    padding: 5px 20px;
    text-align: justify;
    position: relative;
    font-size: 0.8em;
}

footer .socials {
    align-self: center;
}

footer .socials a {
    text-decoration: none;
    margin: 0 10px;
}

footer .socials i {
    color: #1b1b1b;
    font-size: 1em;
}

.mobile-notice {
    background-color: rgb(168, 168, 49);
    text-align: center;
    padding: 20px;
    display: none;
}

.mobile-notice h3 {
    font-size: 5em;
    margin-top: 20px;
}

/* For tablets and smaller devices */
@media screen and (max-width: 720px) {
    .mobile-notice {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color:#f4f4f4;
    }
}