.org-logos {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto 30px;
    align-items: center;
    width: 1200px;
}

.org-logo {
    height: 60px;
    filter: grayscale();
    opacity: 0.7;
    transition: all 0.2s ease;
}

.org-logo.leo {
    height: 110px;
}

.org-logo.ieee {
    height: 75px;
}

.org-logo:hover {
    filter: none;
    opacity: 1;
}

.head-orgs h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 50px;
}