.contact-div {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.contact-div .socials a {
    color: #303030;
    text-decoration: none;
    margin: 10px 20px;
    padding: auto;
}

.contact-div .socials i {
    font-size: 1.7em;
    line-height: 2em;
    align-items: center;
    transition: all 0.1s ease;
}
.contact-div .socials i:hover {
    color:#036499;
}

.contact-details a {
    display: block;
}

.contact-details a {
    text-decoration: none;
    margin: 10px 20px;
    padding: auto;
    align-content: center;
}

.contact-details a p {
    display: inline;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 10px;
}

.contact-details a i {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #303030;
}

.form-div {
    width: 50%;
    padding: 20px;
}

.form-div form {
    margin: 0 50px;
    padding: 30px;
    border-radius: 10px;
    color: #f4f4f4;
    background-color: #303030;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-div form * {
    display: block;
    width: 100%;
}

.form-div form input, textarea {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(107, 107, 107);
    margin-bottom: 10px;
    color: #dadada;
}

.form-div form input.btn {
    all: unset;
    box-sizing: content-box;
    border-radius: 3px;
    color: #ffffff;
    background-color: #107882;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    transition: all 0.2s ease;
}

.form-div form input.btn:hover {
    background-color: #ffffff;
    color: #1d757b;
    cursor: pointer;
}
