.header-info {
    text-align: center;
    margin-top: 70px;
    max-width: 900px;
    margin: 70px auto 0 auto;
}

.header-info p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.header-info h1.profile {
    font-family: "South Catalonia";
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    color: #0b2333;
}

.scroll-section h2 {
    margin: 5px auto;
}

.attention-banner {
    background: linear-gradient(90deg, #0b9f95, #0f6fb4);
    text-align: left;
    border-radius: 5px;
    padding: 3px 10px;
}

.attention-banner h2 {
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
    color: #f4f4f4;
}

#updates h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.news-details {
    display: flex;
}

.news-details img {
    width: 400px;
    height: fit-content;
    margin: 10px 10px 10px 0;
    border: solid #e8e8e8 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#updates p {
    margin-top: 5px 0 0;
    text-align: justify;
}

#intro-banner {
    background-image: radial-gradient(#f4f4f440, #f4f4f471 30%, #f4f4f4 75%), url('../images/IMG_2002.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    max-width: 1100px;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    transition: all 0.3s ease;
    margin: 50px auto;
}

.intro-inner-banner {
    background-image: linear-gradient(#f4f4f400, #f4f4f41b 60%, #f4f4f4da 95%), url('../images/IMG_2002_2.png');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100%;
    margin: auto;    
}

.intro-inner-banner div {
    width: 900px;
    height: 100%;
    margin: auto;
}

#intro-banner div h2 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding-top: 100px;
    font-size: 4em;
}

#intro-banner div h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    text-align: right;
    width: 650px;
}

#intro-banner p {
    width: 450px;
    color: #4b4b4b;
    text-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
    text-align: left;
    margin: 50px 0 10px 20px;
    padding-top: 70px;
}

.lead-backtext1 {
    position: absolute;
    margin: -130px 20px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14em;
    color: #0b9f95;
    opacity: 0.2;
    text-align: center;
}

.lead-backtext2 {
    position: absolute;
    right: 0;
    margin: 60px 20px;
    margin-right: 40px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14em;
    color: #036499;
    opacity: 0.2;
    text-align: center;
}

.intro-leader {
    background-image: linear-gradient(90deg, #48d9f691, #f4f4f400 70%), url('../images/intro_lead.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.intro-leader h2 {
    font-size: 2.5em;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 5px;
    text-align: left;
    width: 300px;
}

.intro-leader p {
    margin-top: 30px;
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.intro-leader p span {
    font-weight: 600;
    font-style: italic;
}

section.trademark {
    box-shadow: none;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 0;
}

.trademark img {
    width: 150px;
    margin: 20px 30px 20px 0;
}

.trademark h2 {
    font-family: 'Nasalization';
    text-transform: uppercase;
    text-align: left;
    font-size: 2.5em;
}

.trademark h2 sup {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.4em;
}

.project-cards {
    background-color: transparent;
    box-shadow: none;
    margin: 0 auto 20px;
}

.project-cards h2 {
    margin: 10px auto 30px;
    font-weight: normal;
}

.p-cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
}

.p-card {
    max-width: 220px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.p-card h3 {
    text-align: center;
    margin: -20px auto 10px;
    line-height: 1.1em;
}

.p-card p {
    font-family: 'Open Sans';
    margin-top: 0;
    padding: 5px;
    text-align: center;
}

.p-card div.p-card-img {
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.p-card p span {
    background-color: #ebebeb;
    color: #202020;
    border-radius: 5px;
    padding: 0 5px;
}

.p-card:nth-child(1) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/fyp_poster.png');
}

.p-card:nth-child(2) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/gcvm.jpg');
}

.p-card:nth-child(3) div.p-card-img {
    background-image: linear-gradient(#ffffff00, #fff 90%), url('../images/portfolio/artha-web.jpg');
}

.project-cards p.p-endnote {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

div.contact-back {
    background-image: linear-gradient(5deg, #f4f4f442, #f4f4f478, #f4f4f4), url(../images/Backgrounds/Contact.png);
    background-size: cover;
    background-position: bottom;
}
.contact-div {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    background: transparent;
}

div.contacts {
    margin-left: 100px;
}

div.contacts h2 {
    text-align: left;
    margin: 0 15px;
    font-size: 4em;
    color: #575757;
}

.contact-div .socials a {
    color: #303030;
    text-decoration: none;
    margin: 10px 20px;
    padding: auto;
}

.contact-div .socials i {
    font-size: 1.5em;
    line-height: 2em;
    align-items: center;
    transition: all 0.1s ease;
}
.contact-div .socials i:hover {
    color:#036499;
}

.contact-details a {
    display: block;
}

.contact-details a {
    text-decoration: none;
    margin: 10px 20px;
    padding: auto;
    align-content: center;
}

.contact-details a p {
    display: inline;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 10px;
}

.contact-details a i {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #303030;
}

.form-div {
    width: 450px;
    padding: 20px;
}

.form-div form {
    margin: 0 50px;
    padding: 30px;
    border-radius: 10px;
    color: #f4f4f4;
    background-color: #303030;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-div form * {
    display: block;
    width: 100%;
}

.form-div form input, textarea {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(107, 107, 107);
    margin-bottom: 10px;
    color: #dadada;
}

.form-div form input.btn {
    all: unset;
    box-sizing: content-box;
    border-radius: 3px;
    color: #ffffff;
    background-color: #107882;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    transition: all 0.2s ease;
}

.form-div form input.btn:hover {
    background-color: #ffffff;
    color: #1d757b;
    cursor: pointer;
}
