@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@font-face {
    font-family: 'Daniel';
    src: url('../fonts/daniel.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body h1, h2, h3, h4, span {
    font-family:'Poppins', sans-serif;
}

body p {
    color: #1b1b1b;
    text-align: justify;
}

body p a {
    text-decoration: none;
    font-style: italic;
    color: #006ca7;
}

body p a:hover {
    text-decoration: underline;
}

section div.text-content {
    padding: 15px;
}

.text-content p {
    text-align: justify;
}

.profile {
    text-align: center;
}

.profile-section {
    display: block;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 3px;
    margin: 0 auto 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    margin: 0 10px 10px;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile a {
    text-decoration: none;
}

header {
    position: absolute;
    width: 90%;
    bottom: -40px;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.banner {
    background-image: linear-gradient(rgba(9, 74, 132, 0.733), rgba(6, 155, 142, 0.733)), url(../images/pera2.jpg);
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-attachment: fixed;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

#banner h1 {
    font-size: 2.5em;
    margin: 0;
}

.header-info {
    text-align: center;
    margin-top: 70px;
    max-width: 900px;
    margin: 70px auto 0 auto;
}

.header-info h1.profile {
    font-family: "Daniel", cursive;
    font-style: normal;
    font-weight: 200;
    font-size: 2.5em;
}

.socials a {
    color: #bafaff;
    text-decoration: none;
    margin: 10px 20px;
}

.socials i {
    font-size: 1.3em;
    line-height: 2em;
    align-items: center;
    transition: all 0.2s ease;
}
.socials a:hover {
    color:#ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Floating navigation */
.navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #ffffff; /* Background color of the navigation bar */
    padding: 10px 50px 5px; /* Padding around the navigation links */
    border-radius: 40px; /* Rounded corners */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    transform-origin: center;
    transition: width 0.3s ease, transform 0.3s ease;
}

.navigation.fixed {
    position: fixed;
    opacity: 0.85;
    top: 15px;
    left: calc(50% - 300px);
    transform: translateX(calc(-50% + 300px));
    justify-content: center;
    transition: all 0.3s ease;
}

.navigation:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    width: 550px;
    height: auto;
    opacity: 1;
}

.navigation ul {
    display: flex;
    width: 100%;
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.navigation ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add spacing between list items */
}

.navigation ul li:last-child {
    margin-right: 0; /* Remove right margin from the last list item */
}

.navigation ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #333333; /* Link color */
    font-weight: bold; /* Bold text */
}

.navigation ul a:visited {
    color: #4CAF50;
}

.navigation ul a img {
    width: 28px;
    height: 28px;
    margin: 0;
}

/* End Floating navigation */

.navigation a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.navigation a:hover {
    color: rgb(6, 155, 143);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.btn {
    /* Basic button styles */
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline-block so it doesn't take full width */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3b8f3e; /* Green background */
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gallery img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#gallery img:hover {
    transform: scale(1.05);
}
/*
#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label,
#contact form input,
#contact form textarea {
    margin: 5px 0;
}

#contact form input[type="submit"] {
    background-color: #086ca2;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

#contact form input[type="submit"]:hover {
    background-color: #064f7b;
}
*/

.site-section {
    all: unset;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #dadada;
    color: #c4c4c4;
    padding: 5px 20px;
    text-align: justify;
    position: relative;
    font-size: 0.8em;
}

footer .socials {
    align-self: center;
}

footer .socials a {
    margin: 0 10px;
}

footer .socials i {
    color: #1b1b1b;
    font-size: 1em;
}

